/* CART */
.cartCard{
  text-align: center;
}

.cartCard{
  text-align: center;
}

.cartCardH1{
  /* font-family: ; */
  font-weight: bold;
  font-size: 75px;
  /* color: ; */
}

.cartCardImg{
  height: 30%;
  width: 30%;
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: inline;
  border-radius: 50px;
}

.cartCardButton{
  text-align: center;
}


/* FAVORITE */
.favoriteCard{
  text-align: center;
}

.favoriteCardH1{
  /* font-family: ; */
  font-weight: bold;
  font-size: 75px;
  /* color: ; */
}

.favoriteCardImg{
  height: 30%;
  width: 30%;
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: inline;
  border-radius: 50px;
}

.favoriteCardButton{
  text-align: center;
}


/* Product */
.productCard{
  text-align: center;
  font-weight: bold;
}

/* .productCardForm{

} */

.productCardPs{
  font-size: 15px;
  color: black;
  font-family: "Georgia", serif;
  font-weight: bold;
}

.productCardImg{
  transition: 0.3s;
  height: 30%;
  width: 30%;
  padding: 10pix;
  margin: 10pix;
  text-align: center;
  display: inline;
  flex: 0 0 33.333333%;
  border-radius: 50px;
}

.productCardButtons{
  text-align: center;
}

/* User */
.userCard{
  text-align: center;
  font-weight: bold;
}

/* .updateUserForm{

} */

.userCardH1{
  /* font-family: ; */
  font-weight: bold;
  font-size: 55px;
  /* color: ; */
}

.userCardH3{
  /* font-family: ; */
  font-weight: bold;
  font-size: 55px;
  /* color: ; */
}

.userCardImg{
  transition: 0.3s;
  height: 30%;
  width: 30%;
  padding: 10pix;
  margin: 10pix;
  text-align: center;
  display: inline;
  flex: 0 0 33.333333%;
  border-radius: 50px;
}

.userCardPs{
  font-size: 15px;
  color: black;
  font-family: "Georgia", serif;
  font-weight: bold;
}
.userCardButtons{
  text-align: center;
}


/* SIGN UP */

.signUpForm{
  width: 200px;
  padding: 20px;
  margin: auto;
  text-align: center;
}

input[type=text] {
  padding:10px;
  border: 2px;
  margin: 5px 0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

input[type=number] {
  padding:10px;
  border: 2px;
  margin: 5px 0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

input::placeholder {
  text-align: center;
  text-align: auto;
} 

.signUpButton{
  border-radius: 5px;
  background: transparent;
  font-size: 15px;
  /* font-family: ; */
  font-weight: bold;
  /* color: ; */
}

.signUpButton:hover {
  color: black;
  cursor: pointer;
}

/* .signUpImg{

} */

/* LOG IN */

.logInForm{
  width: 200px;
  padding: 20px;
  margin: auto;
  text-align: center;
}

input[type=text] {
  padding:10px;
  border: 2px;
  margin: 5px 0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

input::placeholder {
  text-align: center;
  text-align: auto;
} 

.logInButton{
  border-radius: 5px;
  background: transparent;
  font-size: 15px;
  /* font-family: ; */
  font-weight: bold;
  /* color: ; */
}

.logInButton:hover {
  color: black;
  cursor: pointer;
}

/* .logInImg{

} */